#container{
    width: 1440px;
    /*height: 2340px;*/
    margin: 0 auto;
    background: url("../images/top_normal.png") no-repeat left top;
    background-size: 100%;
    overflow: hidden;
}

/*head and navigation*/

#navigation_box{
    position: relative;
    top: 30px;
}

#head li{
    color: #FFFFFF;
}

#head li a{
    color: #FFFFFF;
}

#nav_underline{
    position: relative;
    left: 115px;
}

/*content*/

#content{
    width: 90%;
    margin: 0 auto;
    background-color: #FFFFFF;

    border-radius: 80px;
}

/*content*/

._content{
    font-size: 22px;
    color: #858585;
}

/*bio*/

#bio{
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}



/*edu_bkg*/

#education_background{
    padding-top: 60px;
}

#edu_bkg_content{
    font-size: 22px;

}

#edu_bkg_content .header_3nd{
    padding-top: 30px;
    padding-bottom: 20px;

}

#por{
    width: 250px;
    height: 0px;
    position: relative;
    overflow: visible;
    top: -320px;
    left: 800px;
}

#por img{
    width: 100%;
    border-radius: 30px;
}

#por p{
    width: 100%;
    text-align: center;
}

/*train*/

#training{
    padding-top: 60px;
}

#training_content{
    padding-top: 30px;
}

/*strenth*/

#strength{
    padding-top: 60px;
}

#strength_content{
    padding-top: 30px;
}


#ana{
    padding-top: 60px;
}

#ana_content{
    padding-top: 30px;
    padding-bottom: 80px;
}

/*foot*/

#foot{
    position: relative;
}