#container{
    width: 1440px;
    height: 4249px;
    margin: 0 auto;
    background: url("../images/heart.png") no-repeat right top, url("../images/bottom_index.png") no-repeat left bottom, url("../images/background_img.png") no-repeat right top;
    background-size: 45%, 48%, 100%;
    overflow: hidden;
}

/*head and navigation*/

#navigation_box{
    position: relative;
    top: 30px;
}

/*  title   */

#title{
    width: 80%;
    height: 400px;
    margin: 0 auto;
}

#english_title{
    color: #B0B0B0;
    font-size: 20px;
}

#chinese_title{
    font-size: 43px;
    font-weight: bold;
}


/*three boxes*/

#three_boxes{
    width: 80%;
    height: 530px;
    margin: 0 auto;
}

#three_boxes img{
    width: 100%;
}

#left_of_the_three{
    width: 360px;
    float: left;
}

#center_of_the_three{
    width: 432px;
    float: left;
    position: relative;
    top: -50px;
}

#right_of_the_three{
    width: 360px;
    float: left;
}

#title_button{
    position: relative;
    top: 50px;
}

/*news and passage*/

#news_and_passages{
    width: 80%;
    height: 150px;
    margin: 0 auto;
    clear: both;
}

#news_header{
    font-size: 43px;
    font-weight: bold;
    position: relative;
    top: -80px;
}

#news_button{
    position: relative;
    top: -45px;
}


/*photos*/

#photos{
    width: 100%;
    height: 100px;
    background-color: #fed369;
}

#postcards_title{
    width: 90%;
    color: #808080;
    font-size: 20px;
    margin: 36px auto 16px;
}

/*postcards*/

#postcards_screen{
    overflow-x: scroll;
}

#postcards_screen::-webkit-scrollbar {
    display: none;
}

#postcards_container{
    position: relative;
    left: 20px;
    width: 2000px;
}

.postcards{
    width: 516px;
    height: 572px;
    margin: 20px 24px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 25px -3px rgb(47, 185, 145);
    float: left;
}

.postcards img{
    width: 488px;
    height: 283px;
    margin: 12px 14px;
    border-radius: 10px;
}

.postcards_header{
    color: #3A3A3A;
    font-size: 25px;
    font-weight: bold;
    margin: 14px 25px 24px;
}

.postcards_content{
    width: 445px;
    margin: 0px auto;
}

.postcards_omit{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 35px;
    color: #808080;
}

.postcards_signature{
    font-size: 20px;
    color: #35C19C;
    float: right;
}

.postcards_time{
    font-size: 20px;
    color: #B6B6B6;
    float: left;
}

/*activities_points*/

#activities_points{
    width: 80%;
    height: 800px;
    margin: 0 auto;
}

#activities_points p{
    font-size: 26px;
    color: #FFFFFF;
    text-align: center;
}

#activities_points img{
    transition-property: box-shadow;
    border-radius: 50%;
    width: 100%;
    transition-duration: 300ms;
    box-shadow: 0px 0px 50px 0px rgb(10, 104, 99);
}

#activities_points img:hover{
    transition-property: box-shadow;
    transition-duration: 300ms;
    box-shadow: 5px 5px 60px 0px rgb(10, 104, 99);
}

#activities_title{
    float: right;
    position: relative;
    top: 150px;
}

#activities_header1{
    font-size: 43px;
    font-weight: bold;
    color: #000000;
}

#activities_header2{
    font-size: 22px;
    color: #9B9B9B;
    float: right;
    position: relative;
    top: 16px;
}

#activities_container{
    position: relative;
    left: 30px;
}

#activities_container div{
    float: left;
}

/*point1 244 */

#activities_point1{
    width: 244px;
    position: relative;
    top: 350px;
 }

#activities_point1 p{
    margin-bottom: 26px;
}

/*point2 232 */

#activities_point2{
    width: 232px;
    position: relative;
    top: 130px;
}

#activities_point2 p{
    margin-top: 21px;
}

/*point3 248*/

#activities_point3{
    width: 248px;
    position: relative;
    top: 450px;
    left: 64px;
}

#activities_point3 p{
    margin-bottom: 30px;
}

/*point4 191*/

#activities_point4{
    width: 191px;
    position: relative;
    top: 270px;
    left: 170px;
}
#activities_point4 p{
    margin-top: 16px;
}

/*contact us*/

#contactUs{
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

#contactUs_title{
    float: right;
}

#contactUs_h1{
    font-size: 43px;
    color: #000000;
    font-weight: bold;
    text-align: right;
}

#contactUs_h2{
    text-align: right;
    font-size: 22px;
    color: #9B9B9B;
    margin-top: 22px;
}

#contactUs table{
    font-size: 22px;
    color: #9B9B9B;
    clear: both;
    position: relative;
    top: 100px;
    left: 480px;
}

#contactUs table td{
    padding: 10px 40px;
}


/*related links*/

#related_links{
    position: relative;
    top: 305px;
    left: 750px;
    width: 700px;
}

#related_links_title{
    font-size: 24px;
    font-weight: bold;
    color: #121212;
    margin-bottom: 8px;
}

#related_links li{
    display: inline;
    margin-left: 50px;
}

#related_links a{
    font-size: 22px;
    color: #004533;
}

