#container{
    width: 1440px;
    margin: 0 auto;
    background: url("../images/top_normal.png") no-repeat left top;
    background-size: 100%;
    overflow: hidden;
}

/*head and navigation*/

#navigation_box{
    position: relative;
    top: 30px;
}

#head li{
    color: #FFFFFF;
}

#head li a{
    color: #FFFFFF;
}

#nav_underline{
    position: relative;
    left: 345px;
    /* 115*n */
}


/*four buttons*/

#four_buttons{
    text-align: center;
    margin-bottom: 80px;
}

#four_buttons div{
    width: 200px;
    height: 70px;
    font-size: 22px;
    color: #2D2D2D;

    background-color: #FFFFFF;
    border-radius:  35px;
    display: inline-block;
    margin:  0px 25px;

    box-shadow: 5px 10px 50px -10px #0e484a;

    transition-duration: 200ms;
    transition-property: box-shadow;
}

#four_buttons div:hover{
    transition-property: all;
    transition-duration: 300ms;
    box-shadow: 3px 5px 40px -10px #0e484a;
    background-color: #1C9B7A;
}

#four_buttons div:hover a{
    color: #FFFFFF;
}

#four_buttons a{
    width: 200px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    vertical-align: middle;
}

/*content*/

#content{
    width: 90%;
    margin: 0 auto;
    background-color: #FFFFFF;

    border-radius: 80px;
}

/*template of some button at top*/